* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
.add{
    margin-bottom: 497px;
    width: 219px;
    margin-left: -129px;
}
.table{
    margin: -80px;
}
h2{
    margin-bottom:600px;
    font-weight:bold;
    color:rgb(45,135,211);
}
.card-title{
    width: 191px;
    height: 54px;
}
.card{
    width: 556px;
    bottom: -53px;
}
.title{
    text-align: center;
    color:rgb(54, 135, 211);
}

.td {
    display: flex;
}

/* .btn {
    font-size: 15px !important;
    padding: 0 !important;
    margin-right: 2px;
    margin-left: 2px;
} */
/* text-decoration-none btn btn-sm btn-danger  */
.button {
    position: relative;
    font-size: 16px !important;
    width: 69px;
    height: 50px;
    margin-right: 1px;
    margin-left: 1px;
    color: #fff;
    background: #333;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.5s;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    text-decoration: none;
}

.button span {
    position: absolute;
    display: inline-block;
    width: 18px;
    height: 20px;
    background: #fff;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    transition: 0.5s;
}
.button:hover span {
    transform: scale(1.5) rotate(60deg) translateY(10px);
}
.button span::before {
    content: '';
    position: absolute;
    top: -3px;
    left: 0;
    width: 100%;
    height: 2px;
    background: #fff;
    box-shadow: 12px -2px 0 #333,
    12px -3px 0 #333,
    15px -1px 0 #333,
    6px -2px 0 #fff;
    transition: 0.5s;
}

.button:hover span::before {
    transform: rotate(-90deg) translateX(50%) translateY(-10px);
}

/* .button text {
    position: absolute;
    right: 40px;
    color: #fff;
    transition: 0.5s;
}

.button:hover text {
    transform: translateX(-50px) translateY(-5px) scale(0);
} */


/* Path: frontend\src\pages\manage-book\BookList.js */

.dashboard-body .container{
    margin: 0 !important;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    flex-wrap: wrap;
    align-content: flex-start;
}

h2.table_header, .table_create_btn {
    margin: 12px !important;
    padding: 0;
}

table.table {
    margin: 80px 0 0 0;
    max-width: calc(100% - 100px);
    padding: 0 50px 0 50px !important;
    overflow: hidden;
}

table.table tr td {
    margin: 0;
    max-width: 240px;
    text-overflow: clip;
    border: none;
}
table.table tr td {
    margin: 0;
    max-width: 240px;
    text-overflow: clip;
}
table.table tr td.book, table.table tr td.chtitle {
    max-width: 90px !important;
}
table.table tr td.action {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-content: center;
    align-items: center;
}