@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');
* {
  /* margin: 0 !important;
  padding: 0 !important; */
  box-sizing: border-box !important;
  font-family: "Poppins", sans-serif !important;
}
/* linear-gradient(#D5A3FF 0%, #77A5F8 100%) */

.wrapper {
  width: 400px;
  background: #fff;
  padding: 30px;
  border-radius: 16px;
  box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.0.5);
}

.wrapper header {
  /* position: relative; */
  display: flex;
  align-items: center;
  height: 55px;
  border: 1px solid #ccc;
  border-radius: 30px;
}

.wrapper header > * {
  height: 100%;
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  cursor: pointer;
}